@use "@/styles/vars";

.banner {
    color: vars.$nav-color;
    background-color: vars.$nav-bg-color;
    padding: vars.$spacing-unit  2 * vars.$spacing-unit;
    
    h1 {
        margin: 0;
        font-weight: bold;
    }
}

.page {
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;

    min-height: 100svh;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
}
